<div class="container mt-5">
  <h1>Custom Pipe Örneği: Metin Formatlama</h1>

  <!--Kullanıcıdan metin al-->
  <div class="mb-3">
    <label for="textInput" class="form-label">Metin Giriniz:</label>
    <input id="textInput" class="form-control" [(ngModel)]="inputText"/>
  </div>

<h2>Sonuç:</h2>
  <p><strong>Orijinal:</strong> {{ inputText }}</p>
  <p><strong>Büyük Harf:</strong> {{ inputText | textFormat: 'uppercase' }}</p>
  <p><strong>Küçük Harf:</strong> {{ inputText | textFormat: 'lowercase' }}</p>
  <p><strong>İlk Harf Büyük:</strong> {{ inputText | textFormat: 'capitalize'}}
  </div>